<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>minted-home</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="container">

        <div id="nag">
            <div id="logo">
                <img id="log" src="images/logo.jpg" alt="kwiatek" width="90%" height="90%">
            </div>
            <div id="nazwa">
                <br>MINTED
            </div>
        </div>
        <div id="menu">
                <a>Home</a>
                <a>Logowanie</a>
                <a>Rejestracja</a>
                <a>Kontak</a>
        </div>
        <div id="area">
            Wybierz akcje :)
        </div>
        <div id="stopka">
            <div id="mail">test@gmail.com</div>
            <div id="clock">12:00</div>
        </div>

    </div>

</body>
</html>